@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-color: 0, 0, 0;
  --secondary-color: 255, 255, 255;

  --blue-color: 31, 132, 239;
  --red-color: 227, 7, 68;
  --yellow-color: 255, 210, 0;
  --green-color: 6, 224, 127;

  --headline-font-size: 42px;
  --headline-font-weight: 700;

  --subheadline-font-size: 22px;
  --subheadline-font-weight: 400;

  --body-font-size: 18px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

html,
body {
  height: 100%;
  display: flex;

  flex-direction: column;
}